body {
  margin: 0;
  width: 100%;
  height: 100%;
}

main {
  display: grid;
 
  grid-template-columns: repeat(3,1fr);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  position: sticky;
  top: 0%;
}

.search input {
  width: 200%;
  height: 20px;
}

.photoProfil img {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 50%;
  
}
.actu{
    width: 75vw;
    margin-left: 15%;
    border: 1px solid;
}

.right {
  background-color: coral;
width: 12%;
height: 100vw;
position: fixed;
right: 0;
padding-top: 2%;
padding-left: 2%;


}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12%;
    height: 100vw;
    position: fixed;
    

  background-color: cyan;
 
}

.menu-burger ul li {
  list-style: none;
  text-align: justify;
  padding-top: 20%;
}

.titreSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postActu {
  width: 70%;
  background-color: gray;
}

.container-post {
  background-color: gray;
  margin: 10% 5%;
  border: 1px solid transparent;

}
.userpost {
  display: flex;
  width: 20%;
  justify-content: space-between;
}
.photo img {
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  margin: 2%;
}
.content {
  background-color: aliceblue;
  height: 180px;
}

.person{
    display: flex;
    justify-content: space-around;
    margin: 10% 0;
   
}
