body{
    margin: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    width: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 60px;
    box-sizing: border-box;
}

.input{
    background-color:rgba(255,255,255,0.8) ;
    padding: 4px;
    margin: 10px 0;
}

input{
    width: 90%;
    border: none;
    background: none;
    outline: none;
    vertical-align: middle;
}

.submit{
    background-color: #41666C;
    padding: 6px 0;
    text-align: center;
    cursor: pointer;
    color: aliceblue;
}

.submit:hover{
    filter: brightness(1.1);
}

.input img{
    height:20px ;
    cursor: pointer;
    vertical-align: middle;
}

.connect{
    display: flex;
    justify-content: end;
}
